extends layout/main
block title
  title Корзина
block content
  h1 Корзина
  #card
    if courses.length
      table
        thead
          tr
            th Название
            th Количество
            th Действия
        tbody
          for courseItem in courses
            tr
              td #{courseItem.title}
              td #{courseItem.count}
              td
                button.btn.btn-small.js-remove(data-id=`${courseItem.id}`, data-csrf=`${csrf}`) Удалить
      p
        strong Цена:
        span.price #{price}
      form.course-form(action='/orders', method='POST')
        input(type='hidden', name='_csrf', value=`${csrf}`)

        button.btn Сделать заказ
    else
      p Корзина пуста
