extends layout/empty
block title
  title курс #{courseItem.title}
block content
  .course
    h1 #{courseItem.title}
    img(src=`${courseItem.imgUrl}`, alt=`${courseItem.title}`)
    p.price.big #{courseItem.price}
